<section id="about">
    <div class="row">
        <div class="three columns">
            <img class="profile-pic" src="images/profilepic.jpg" alt="" />
        </div>
        <div class="nine columns main-col">
            <h2>About Me</h2>
            <p>
                I think programming is one of the few professions that will not become obsolete in the next 30 years due to the introduction of
                more automation, computerization and cybernation in the economy, on the contrary will expand because of the growing automation of
                increasingly complex processes. I want to be part of this transition and give my best into changing the world into better future.
            </p>
            <div class="row">
                <div class="columns contact-details">
                    <h2>Contact Details</h2>
                    <p class="address">
                        <span>Velizar Velikov</span><br>
                        <span>(+359) 897-249-835</span><br>
                        <span>Sofia, Bulgaria</span><br>
                        <span>velizar.velikov@gmail.com</span>
                    </p>
                </div>
                <div class="columns download">
                    <p>
                        <a asp-action="DownloadResume" class="button"><i class="fa fa-download"></i>Download Resume</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>