<section id="call-to-action">
    <div class="row">
        <div class="two columns header-col">
        </div>
        <div class="seven columns">
            <h2><span class="lead">My View for the World </span></h2>
            <p>
                <span class="lead">
                    In order to design a world of positive change, we must first become experts at changing our minds.
                </span>
            </p>
        </div>
        <div class="three columns action">

        </div>
    </div>
</section>