@model Portfolio.Mails.EmailMessage

<section id="contact">
    <div class="row section-head">
        <div class="two columns header-col">
            <h1><span>Get In Touch.</span></h1>
        </div>
        <div class="ten columns">
            <p class="lead">
                If you want me to be part of your team, work together on projects or just chat with me, please send me a message or an e-mail.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="eight columns">
            <form asp-controller="Mail" asp-action="SendMessage">
                <fieldset>
                    <div>
                        <label asp-for="Name">Name <span class="required">*</span></label>
                        <input asp-for="Name" value="" id="contactName">
                    </div>
                    <div>
                        <label asp-for="Email">Email <span class="required">*</span></label>
                        <input asp-for="Email" value="" size="35" id="contactEmail">
                    </div>
                    <div>
                        <label asp-for="Subject">Subject</label>
                        <input asp-for="Subject" value=""id="contactSubject">
                    </div>
                    <div>
                        <label asp-for="Content">Message <span class="required">*</span></label>
                        <textarea asp-for="Content" cols="50" rows="15" id="contactMessage"></textarea>
                    </div>
                    <div>
                        <input type="submit" value="Submit" class="submit" />
                        <span id="image-loader">
                            <img alt="" src="images/loader.gif">
                        </span>
                    </div>
                </fieldset>
            </form>
            <div id="message-warning"> Error boy</div>
            <div id="message-success">
                <i class="fa fa-check"></i>Your message was sent, thank you!<br>
            </div>
        </div>
        <aside class="four columns footer-widgets">
            <div class="widget widget_contact">
                <h4>Address and Phone</h4>
                <p class="address">
                    <span>Velizar Velikov</span><br>
                    <span>(+359) 897-249-835</span><br>
                    <span>Sofia, Bulgaria</span><br>
                    <span>velizar.velikov@gmail.com</span>
                </p>
            </div>
        </aside>
    </div>
</section>
