<footer>
    <div class="row">
        <div class="twelve columns">
            <ul class="social-links">
                <li><a href="https://www.facebook.com/velsvelsov"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/velizar-velikov/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/VelizarVeli"><i class="fa fa-github"></i></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; 2019 - Vels</li>
                <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
            </ul>
        </div>
        <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>
    </div>
</footer> 