<section id="portfolio">
    <div class="row">
        <div class="twelve columns collapsed">
            <h1>Check Out Some of My Work</h1>
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-01" title="Scalemodel World">
                            <img alt="Scalemodel World" src="images/portfolio/ScalemodelWorld.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Scalemodel World</h5>
                                    <p>catalog site</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div>
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-02" title="Financee">
                            <img alt="Financee" src="images/portfolio/Financee.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Financee</h5>
                                    <p>accounting app</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div>
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-03" title="Intillegio">
                            <img alt="Intillegio" src="images/portfolio/Intillegio.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Consultancy agency</h5>
                                    <p>Consultancy web application</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div>
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-08" title="construction">
                            <img alt="construction-software" src="images/portfolio/construction-software.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Future Projects</h5>
                                    <p>Future Projects</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-01" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-ScalemodelWorld.jpg" alt="ScalemodelWorld" />
            <div class="description-box">
                <h4>Scalemodel World</h4>
                <p>
                    This is a project including information for all my scalemodels, tools, paints, consumables, pictures, modelshows participations, etc. In other words,
                    everything connected with my hobby which I love to practice in my free time for more than a decade. The project includes the data which I collected in
                    Google sheets for all the years. I'm downloading the Google sheets to Json files and then seeding them in SQL database using EF Core, adding all the
                    relations which I didn't have the option to add with Google Sheets.
                </p>
                <span class="categories"><i class="fa fa-tag"></i>Catalog, Web application</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/VelizarVeli/ScalemodelWorld" target="_blank">Details      </a>
                <a href="http://scalemodels.world" target="_blank">www.scalemodels.world</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div>
        <div id="modal-02" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/Financee.jpg" alt="Financee" />
            <div class="description-box">
                <h4>Financee</h4>
                <p>Accounting web application calculating expenditarues and incomes to get better view in the family budget.</p>
                <span class="categories"><i class="fa fa-tag"></i>Finance, Web application</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/VelizarVeli/Financee" target="_blank">Details      </a>
                <a href="http://smetki.work" target="_blank">www.smetki.work</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div>
        <div id="modal-03" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/Intillegio.png" alt="intillegio" />
            <div class="description-box">
                <h4>In construction</h4>
                <p>
                    This is a project about consultancy agency made primarily with ASP.Net Core, using MSSql database with code first approach.
                </p>
                <span class="categories"><i class="fa fa-tag"></i>Consultancy agency, Web application</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/VelizarVeli/Intillegio" target="_blank">Details      </a>
                <a href="http://intillegio.eu" target="_blank">www.intillegio.eu</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div>
        <div id="modal-08" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-construction-software.jpg" alt="construction" />
            <div class="description-box">
                <h4>Future Projects</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="#" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div>
    </div>
</section>