<section id="resume">
    <div class="row education">
        <div class="three columns header-col">
            <h1><span>Education</span></h1>
        </div>
        <div class="nine columns main-col">
            <div class="row item">
                <div class="twelve columns">
                    <h3>Software University</h3>
                    <p class="info">Software Engineering<span>&bull;</span> <em class="date">2017 - 2019</em></p>
                    <h1><span><a asp-area="" asp-controller="Courses" asp-action="Courses">Curriculum</a></span></h1>
                    <p>
                        I wanted to become a programmer since 1989 when I attended programming study group, however life had other plans for me then. Because of my
                        lifestyle my best option for retraining myself was taking courses in private academies like Telerik Bulgaria.
                        This is how I started programming. After Software University opened its doors, I started attending their lectures.
                        I've learned a lot about the base consepts in programming, OOP, MVC and some OOP design patterns.<br />
                    </p>
                </div>
            </div><br />
            <div class="row item">
                <div class="twelve columns">
                    <h3>International Academy of Human Resources, Kiev, Ukraine</h3>
                    <p class="info">Management of Foreign Economic Activities<span>&bull;</span> <em class="date">2007 - 2012</em></p>
                    <p>
                        Studying economics I wanted to find the answer how to make the world better place for everyone. Unfortunately, I couldn't find it in current
                        economics.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row work">
        <div class="three columns header-col">
            <h1><span>Work</span></h1>
        </div>
        <div class="nine columns main-col">
            <div class="row item">
                <div class="twelve columns">
                    <h3>Sutherland Global Services</h3>
                    <p class="info">Technical Support for Google Applications<span>&bull;</span> <em class="date">2015 - 2018</em></p>
                    <p>
                        Interacting with Google customers and delivering best support was a great experience for me.
                    </p>
                </div>
            </div>
            <div class="row item">
                <div class="twelve columns">
                    <h3>Caretower Ltd</h3>
                    <p class="info">Account Manager<span>&bull;</span> <em class="date">2012 - 2014</em></p>
                    <p>
                        Caretower IT Security Specialists is a company dedicated to information security for over 15 years.
                    </p>
                </div>
            </div>
            <div class="row item">
                <div class="twelve columns">
                    <h3>Lessno.com, Bulgarian VIP Tours, Oversun Aviation</h3>
                    <p class="info">Ticketing Agent<span>&bull;</span> <em class="date">2007 - 2011</em></p>
                    <p>
                        Finding, issuing and selling airline tickets.
                    </p>
                </div>
            </div>
            <div class="row item">
                <div class="twelve columns">
                    <h3>Danina G</h3>
                    <p class="info">Software Distributor<span>&bull;</span> <em class="date">2003 - 2005</em></p>
                    <p>
                        Danina-G is a software company based in Plovdiv developing medical software applications
                    </p>
                </div>
            </div>
            <div class="row item">
                <div class="twelve columns">
                    <h3>Amylum - Bulgaria</h3>
                    <p class="info">Technical Administrator<span>&bull;</span> <em class="date">1998 - 2001</em></p>
                    <p>
                        Amilum Bulgaria is a company based in Razgrad . Its main activity is the extraction of primary products for the food industry through deep
                        processing of corn. My job was to draw the technical documentaion using FileMaker Pro.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row skill">
        <div class="three columns header-col">
            <h1><span>Skills</span></h1>
        </div>
        <div class="nine columns main-col">
            <p>
                I've tried different technologies like HTML, CSS, Javascript, PHP, Java,
                however the one that I liked the most is .NET and the different libraries and frameworks related to it.
                I really like the IDE - Visual Studio as well.
            </p>
            <div class="bars">
                <ul class="skills">
                    <li><span class="bar-expand dotnet"></span><em>.NET Core</em></li>
                    <li><span class="bar-expand dotnet"></span><em>ASP.NET Core MVC</em></li>
                    <li><span class="bar-expand dotnet"></span><em>Entity Framework Core</em></li>
                    <li><span class="bar-expand dotnet"></span><em>MS SQL Server</em></li>
                    <li><span class="bar-expand javascript"></span><em>JavaScript</em></li>
                    <li><span class="bar-expand css"></span><em>CSS3</em></li>
                    <li><span class="bar-expand html5"></span><em>HTML5</em></li>
                    <li><span class="bar-expand drupal"></span><em>Drupal</em></li>
                    <li><span class="bar-expand gsuite"></span><em>Google Apps/G Suite</em></li>
                </ul>
            </div>
        </div>
    </div>
</section>